{% extends "base.html" %}
{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor%}
    {% endif %}
  {% endwith %}
  <p>Perspective is designed to bring similar articles from different political perspectives into one place for an easy way to get different view points.</p>
  <form method="POST", action="/prereading">
    <ul id="article-list">
      {% for article in articles %}
      <button class="button article-title" name="article" id="button_id" value="{{loop.index|string}}">{{article.source1 + ": " + " " + " " + " " + article.title1}}</button>
      {% endfor %}
     </ul>
  </form> 
{% endblock %}