{% extends "base.html" %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor%}
        {% endif %}
    {% endwith %}
<form action ="/login" method="post">
    <label for="lemail">Email:</label>
    <input type="email" name="lemail">
    <label for="lpassword">Password:</label>
    <input type="password" name="lpassword">
    <button class="button signinbutton" name="signinbutton" id="signinbutton">Sign In</button>
</form>
{% endblock %}