{% extends "base.html" %}
{% block content %}
<h2>Choose a viewpoint</h2>
<button class="button liberalbutton" id="liberalbutton">Liberal</button>
<button class="button independentbutton" id="independentbutton">Independent</button>
<button class="button conservativebutton" id="conservativebutton">Conservative</button> <br>
<h2 id=articlesSource>{{article.title2}}</h2>
<h2 id=articlesTitle>{{article.source2}}</h2>
<a href="{{article.url2}}" id="articlelink">Link to Original Article</a>
<p id=articles>
    {{article.story2}}
</p>
{% endblock %}